@import "tailwindcss";

@theme {
    --font-futura: "Futura PT", sans-serif;
}

@layer base {

    header,
    footer,
    #posts {
        @apply px-4 sm:px-8 md:px-16 lg:px-32
    }

    section {
        @apply px-4 sm:px-8 md:px-16 lg:px-60;
    }

    h1,
    h3,
    h4,
    h5,
    h6 {
        @apply font-futura
    }

    article p {
        @apply font-light
    }
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 400;
    font-style: normal;
    font-weight: light;
    src: local('Futura PT Book'), url('/fonts/futura-pt/FuturaCyrillicBook.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT';
    font-weight: 300;
    font-style: normal;
    font-weight: regular;
    src: local('Futura PT Light'), url('/fonts/futura-pt/FuturaCyrillicLight.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT';
    font-weight: 500;
    font-style: normal;
    font-weight: medium;
    src: local('Futura PT Medium'), url('/fonts/futura-pt/FuturaCyrillicMedium.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT';
    font-weight: 600;
    font-style: normal;
    font-weight: semibold;
    src: local('Futura PT Demi'), url('/fonts/futura-pt/FuturaCyrillicDemi.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT';
    font-weight: 700;
    font-style: normal;
    font-weight: bold;
    src: local('Futura PT Bold'), url('/fonts/futura-pt/FuturaCyrillicBold.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT';
    font-weight: 800;
    font-style: normal;
    font-weight: extrabold;
    src: local('Futura PT Extra Bold'), url('/fonts/futura-pt/FuturaCyrillicExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 900;
    font-style: normal;
    font-weight: heavy;
    src: local('Futura PT Heavy'), url('/fonts/futura-pt/FuturaCyrillicHeavy.woff') format('woff');
}